<div class="container mt-5" *ngIf="this.hasContent(this.users)">
  <h1>Usuarios</h1>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-dark mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Filters
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <form [formGroup]="formFilter" (ngSubmit)="submitFilters()" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Filters</h1>
          <button type="button" class="btn-close" #closeButton data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="groupFilter">Group</label>
            <select formControlName="groupFilter" class="form-control" id="groupFilter">
              <option value="">All Groups</option>
              <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="clearFilters()" data-bs-dismiss="modal">Clear Filters</button>
          <button type="submit" class="btn btn-primary">Apply filters</button>
        </div>
      </form>
    </div>
  </div>

  <div class="table-container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" (click)="toggleSort('name')">
            Name
            <img [hidden]="this.showOrderingIcon('name', 'desc')" src="../assets/asc-ordering.png" alt="">
            <img [hidden]="this.showOrderingIcon('name', 'asc')" src="../assets/desc-ordering.png" alt="">
          </th>
          <th scope="col" (click)="toggleSort('lastname')">
            Lastname
            <img [hidden]="this.showOrderingIcon('lastname', 'desc')" src="../assets/asc-ordering.png" alt="">
            <img [hidden]="this.showOrderingIcon('lastname', 'asc')" src="../assets/desc-ordering.png" alt="">
          </th>
          <th scope="col" (click)="toggleSort('email')">
            Email
            <img [hidden]="this.showOrderingIcon('email', 'desc')" src="../assets/asc-ordering.png" alt="">
            <img [hidden]="this.showOrderingIcon('email', 'asc')" src="../assets/desc-ordering.png" alt="">
          </th>
          <th scope="col" (click)="toggleSort('group')">
            Group
            <img [hidden]="this.showOrderingIcon('group', 'desc')" src="../assets/asc-ordering.png" alt="">
            <img [hidden]="this.showOrderingIcon('group', 'asc')" src="../assets/desc-ordering.png" alt="">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.group.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination-container mt-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">

        <li class="page-item">
          <button class="page-link" (click)="previousPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </button>
        </li>

        <li class="page-item" *ngFor="let page of getPageNumbers()">
          <button class="page-link" (click)="goToPage(page - 1)"> {{ page }} </button>
        </li>

        <li class="page-item">
          <button class="page-link" (click)="nextPage()" aria-label="Previous">
            <span aria-hidden="true">&raquo;</span>
          </button>
        </li>

      </ul>
    </nav>
  </div>

</div>

<div class="spinner-container" *ngIf="!this.hasContent(this.users)">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
